DB_NAME=...
DB_USER=...
DB_PASS=...
DB_HOST=...

EMAIL_PORT=...
EMAIL_USE_TLS=...
EMAIL_PORT_SSL=...
EMAIL_HOST_USER=...
EMAIL_HOST_PASSWORD=...

EMAIL_PORT = ...
EMAIL_USE_TLS = ...
EMAIL_USE_SSL = ...


OPENAI_API_KEY=...


ALLOWED_HOSTS=localhost *, 127.0.0.1